.roster {
  padding: 0px 0px 10px 0px !important;
  overflow: hidden;

  .select {
    display: flex;
    justify-content: center;

    width: 100%;
    background-color: #1b2c62;
    padding: 4px 0px 16px 0px;

    select {
      margin: 0px 4px;
      box-sizing: border-box;
      font-size: 12px;
      font-family: 'Poppins', sans-serif;
      padding: 2px;
      border-radius: 4px;
      background-color: #333;
      color: white;
      border: 1px solid #555;
    }
  }

  .categories {
    border-bottom: 2px solid white;
    text-decoration: none;
    background-color: #1b2c62;
    padding-top: 5px;

    ul {
      list-style-type: none;
      justify-content: center;
      display: flex;
      margin: 0;
      padding: 0;
    }

    li {
      flex: 1;
      position: relative;
      z-index: 1;

      &.selected::before {
        content: "";
        position: absolute;
        top: -10px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(20, 33, 77, 0.8);
        z-index: -1;
      }

      &:not(.selected):hover {
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          top: -10px;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(20, 33, 77, 0.5);
          z-index: -1;
        }
      }

      a {
        text-decoration: none;
      }

      img {
        height: 20px;
      }

      p {
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
        font-size: 12px;
        text-align: center;
        margin: 4px 0px 8px 0px;
      }
    }

    .category {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
    }
  }

  .players {
    .buttons {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        color: black;
        background-color: gray;
        border: none;
        padding: 8px 12px;
        margin: 0 4px;
        border-radius: 8px;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;

        &.selected {
          background-color: white;
          font-weight: 700;
        }

        &:hover {
          cursor: pointer;

          &:not(.selected) {
            background-color: #9e9e9e;
          }
        }
      }
    }

    .split {
      max-height: 350px;
      overflow-y: auto;

      .player {
        display: flex;
        align-items: center;

        border-radius: 16px;
        padding: 4px 16px;

        color: white;
        font-family: 'Poppins', sans-serif;

        .icone {
          width: 50px;
          height: 50px;
          border-radius: 25%;
          border: 2px solid rgb(110, 110, 110);
          background-color: rgb(150, 150, 150);
          object-fit: contain;
        }

        .infos1 {
          max-width: 200px;
          margin-left: 10px;

          p {
            font-size: 12px;
            margin: 0;
            text-align: left;
          }

          .nickname {
            font-weight: 900;
          }
        }

        .infos2 {
          margin-left: auto;

          img {
            margin: 10px 0px;
            width: 18px;
            display: block;
          }
        }
      }
    }
  }

  .rankings {
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease-in-out;
    margin-top: 8px;

    p {
      margin: 0;
    }

    .standings {
      margin: 10px 0;

      .teams {
        overflow-y: auto;
        max-height: 305px;
      }

      .standing {
        &.placeholder {
          .team {
            width: 240px;
          }

          >* {
            &:after {
              content: "";
              display: block;
              z-index: 2;
              height: 2px;
              background-color: white;

              margin: 2px 0 12px 0;
            }
          }
        }

        .place,
        .team,
        .wins,
        .losses {
          margin: 0px 4px;
          border-radius: 2px;

          &:not(.placeholder) {
            height: 30px;
          }
        }

        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 4px 0;

        p {
          &:not(.placeholder) {
            display: flex;
            align-items: center;
            justify-content: center;
          }

        }

        .place {
          width: 50px;

          &:not(.placeholder) {
            background-color: rgba(100, 100, 100, 0.5);
          }

          &.n1 {
            background-color: gold;
          }

          &.n2 {
            background-color: silver;
          }

          &.n3 {
            background-color: #cd7f32;
          }
        }

        .team:not(.placeholder) {
          display: flex;
          align-items: center;
          width: 240px;

          background-color: rgba(100, 100, 100, 0.5);

          p {
            display: flex;
            justify-content: center;
            align-items: center;

            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          img {
            width: 26px;
            height: 26px;
            object-fit: scale-down;

            align-self: center;
            margin: 0px 8px;
          }
        }

        .wins,
        .losses {
          width: 50px;

          &:not(.placeholder) {
            background-color: rgba(100, 100, 100, 0.5);
          }
        }
      }
    }
  }
}