.game-header {
    display: flex;
    justify-content: space-between;
    background-color: #1b2c62;
    color: white;
    padding: 8px 8px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.game {
    display: flex;
    justify-content: space-between;
    background-color: #dfdfdf;
    color: black;
    padding: 10px 8px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.game-card p {
    margin: 0;
    font-family: 'Kanit', sans-serif;
}