$color-black: black;
$color-white: white;
$color-light-blue: #F0FFFF;
$color-red: #d66064;
$color-green: green;
$font-roboto: 'Roboto', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

.match-card {
    margin-bottom: 10px;

    .header {
        display: flex;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        background-color: $color-red;
        color: $color-white;
        font-family: $font-roboto;
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.8px;

        p {
            margin: 8px 0px;
        }
    }

    .footer {
        align-items: center;
        border-radius: 0 0 10px 10px;
        background-color: $color-light-blue;
        color: $color-black;
    }
}

.match {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 4px 0px;
    background-color: $color-light-blue;
    border-radius: 0 0 10px 10px;
    color: $color-black;
    font-family: $font-josefin;
    font-weight: 600;
    height: 30px;

    &:hover {
        cursor: pointer;
    }

    &.unrolled {
        border-radius: 0px;
    }

    .league,
    .team,
    .arrow {
        display: flex;
        position: absolute;
        align-items: center;
    }

    .league {
        left: 0;
    }

    .team {
        left: 50%;
        transform: translateX(-50%);
        font-family: $font-roboto;
        font-weight: 700;
    }

    .arrow {
        transform: scale(0.6);
        right: -4px;
        font-size: 24px;
        font-weight: 100;
    }

    .wl {
        font-family: $font-montserrat;
        font-weight: 500;
        width: 50px;

        &.V {
            color: $color-green;
        }

        &.D {
            color: $color-red;
        }
    }

    img {
        width: 28px;
        height: 28px;
        object-fit: scale-down;
        margin: 0 6px;
    }

    .teams-hint {
        width: max-content;
    }

    .schedule {
        font-family: $font-roboto;
        font-weight: 500;
    }

    p {
        font-size: 15px;
        margin: 0;
    }
}

.game-list {
    margin: 0;
    padding: 0px 20px;
    padding-bottom: 14px;
    max-height: 180px;
    list-style-type: none;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #888888 #f1f1f1;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &.active::-webkit-scrollbar {
        opacity: 0%;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888888;
        border-radius: 4px;
    }
}

h2.line {
    border-bottom: 2px solid #000;
    line-height: 0em;

    span {
        font-family: 'Aoboshi One', serif;
        font-size: 14px;
        background: $color-light-blue;
        padding: 0 10px;
    }
}

@media not all and (hover: none) {
    .game-list::-webkit-scrollbar-thumb {
        border-radius: 0;
    }
}