.navigation {
    border-bottom: 2px solid white;
    text-decoration: none;
    background-color: #1b2c62;
    padding-top: 5px;

    ul {
        list-style-type: none;
        justify-content: center;
        display: flex;
        margin: 0;
        padding: 0;
    }

    li {
        flex: 1;
        position: relative;
        z-index: 1;

        &.selected {
            a {
                cursor: default;
            }

            &::before {
                content: "";
                position: absolute;
                top: -10px;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(20, 33, 77, 0.8);
                z-index: -1;
            }
        }

        &:not(.selected):hover::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(20, 33, 77, 0.5);
            z-index: -1;
        }

        a {
            text-decoration: none;
        }

        img {
            height: 20px;
        }

        p {
            color: white;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 12px;
            text-align: center;
        }
    }

    .link {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }
}