$main-font: 'Poppins', sans-serif;
$main-bg-color: rgb(15, 22, 27);
$main-border-color: rgba(255, 255, 255, 0.466);

.roster-card {
    text-decoration: none;
}

.roster {
    margin: 10px 25px 0px 25px;
    display: flex;
    align-items: center;
    background-color: $main-bg-color;
    border: 1px solid $main-border-color;
    border-radius: 16px;
    padding: 10px 16px;
    color: white;
    font-family: $main-font;
    transition: transform 0.1s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .icone {
        width: 60px;
        height: 60px;
        object-fit: scale-down;
    }

    .infos {
        max-width: 300px;
        margin-left: 10px;

        p {
            margin: 5px;
        }

        .name {
            font-weight: 900;
        }

        .date {
            display: box;
            line-clamp: 2;
            box-orient: vertical;
            overflow: hidden;
        }
    }
}