$poppins: 'Poppins', sans-serif;

.settingsBg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    color: white;
    z-index: 2;
}

.settingsContainer {
    width: 400px;
    border-radius: 12px;
    background-color: #15202b;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 15px;

    &.active {
        transition: transform 0.3s ease;
    }

    .header {
        border-radius: 12px 12px 0 0;
        position: relative;
        text-align: center;
        background-color: #253d55;
        padding: 8px 0px;

        h1 {
            margin: 0;
        }
    }

    .closeBtn {
        position: absolute;
        right: 14px;
        top: 17px;

        img {
            width: 20px;

            &:hover {
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }

    .parameter {
        display: flex;
        justify-content: space-between;
        padding-right: 10px;

        p {
            margin: 0;
            font-family: $poppins;
        }

        input[type="checkbox"] {
            width: 15px;
            height: 15px;
            border: 2px solid #000;
            border-radius: 4px;
        }

        select {
            font-size: 12px;
            font-family: $poppins;
            padding: 2px;
            border-radius: 4px;
            background-color: #333;
            color: white;
            border: 1px solid #555;
        }
    }

    .category {
        padding-left: 12px;

        h2 {
            margin-top: 15px;
            margin-bottom: 5px;
            text-decoration: underline;
        }
    }

    .contact {
        font-family: $poppins;
        padding-left: 12px;
        margin-top: 18px;

        h3 {
            margin-bottom: 0;
            text-decoration: underline;
        }
    }

    .body {
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: #888888 #f1f1f1;

        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888888;
            border-radius: 4px;

            &:hover,
            &:active {
                background-color: #888888;
            }
        }
    }
}

@media not all and (hover: none) {
    .settingsContainer .body::-webkit-scrollbar-thumb {
        border-radius: 0;
    }
}