.video {
    position: relative;
}

.video img {
    width: 180px;
    margin: 0px 10px;
    margin-bottom: 20px;
}

.video:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.video .title {
    position: absolute;
    bottom: 11px;
    left: 10px;
    width: 180px;

    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 12px;
    margin-top: 80px;
}