body {
    margin: 0;
    width: 500px;
    max-height: 600px;

    background-color: #15202b;

    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.no-connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 120px;

    color: white;

    h1,
    h2,
    h3 {
        margin: 0;
    }

    h2 {
        margin-bottom: 20px;
    }
}

body::-webkit-scrollbar {
    display: none;
}

.scroll-bar {
    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: #F0FFFF;
    }

    &::-webkit-scrollbar-thumb {
        background-color: gray;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #636363;
    }

    &::-webkit-scrollbar-thumb:active {
        background-color: #4d4d4d;
    }

    @media not all and (hover: none) {
        &::-webkit-scrollbar-thumb {
            border-radius: 0;
        }
    }
}