.zoom-image-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .zoom-image-container {
    display: flex;
    flex-direction: column;
    width: 70%;

    transition: transform 0.3s ease;

    img {
      background-color: gray;
    }

    .title {
      display: flex;
      justify-content: center;
      background-color: white;
      padding: 4px;

      p {
        font-family: 'Bebas Neue', sans-serif;
        font-size: 24px;
        margin: 0;
      }
    }
  }
}